body {
    background: #F9F6ED;
    margin: 0;
    font-family: helvetica, arial;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background: #B91A16;
    border-bottom: .5rem solid #9B1A15;
    padding: 1rem 0;
    color: #F9F6ED;
}

header a {
    color: #F9F6ED;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #B91A16;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

iframe {
    max-width: 100%;
}

main {
    padding: 2rem 0;
}

.lead {
    font-size: 2rem;
    text-align: center;
}

.group {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .group {
        width: 80%;
    }
}

.box {
    background: white;
    border-top: .125rem solid #E0DFC3;
    margin: 1rem 0;
    padding: 1.5rem;
}

@media (min-width: 800px) {
    .section {
        width: 48%;
    }

    .section--left {
        float: left;
    }

    .section--right {
        float: right;
        clear: right;
    }
}

.section h2 {
    border-bottom: .075rem solid #9B1A15;
    padding-bottom: .5rem;
}

.section a {
    color: #B91A16 !important; // force google map link
}

.photos {
    margin: 2rem 0;
}

.photos h2 {
    margin-bottom: 1rem;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--photos li {
    display: inline-block;
}

.list--photos li a,
.list--photos li a img {
    display: block;
}

.list--photos li {
    margin: 0 1rem 1rem 0;
}

.list--photos li a {
    background: white;
    border: .075rem solid #E0DFC3;
    padding: .25rem;
    box-shadow: 0 0 6px #E0DFC3;
}

footer {
    background: #2D2D2D;
    padding: 4rem 0;
    color: #F9F6ED;
    text-align: center;
}

footer em {
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
}

footer a {
    position: relative;
    padding-left: 38px;
    color: #F9F6ED;
}

footer a img {
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -16px;
    border-radius: 16px;

    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray; /* IE 6-9 */
}

footer a:hover img,
footer a:focus img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
}

footer a span {
    text-decoration: none;
}

footer a:hover span,
footer a:focus span {
    text-decoration: underline;
}

/* Clearfix group */

/* For modern browsers */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.group {
    zoom:1;
}
