<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="msapplication-TileColor" content="#b81916">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="/css/main.css">

    {% for size in site.apple-touch-icon-sizes %}
      <link rel="apple-touch-icon" href="/images/apple-touch-icon-{{ size }}.png" sizes="{{ size }}">
    {% endfor %}

    {% for size in site.favicon-sizes %}
      <link rel="icon" href="/images/favicon-{{ size }}.png" type="image/png" sizes="{{ size }}">
    {% endfor %}

    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/fonts.js"></script>
  </head>
  <body>
    <header>
      <div class="group">
        <h1 class="club-title">
          Radminton
          <span class="club-title__sub">Badminton Club</span>
        </h1>

        <p class="club-cta club-cta--header">
          New Members
          Always Welcome
        </p>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <div class="group">
        <em class="shout">Let&#8217;s Play!</em>

        <address>
          Website designed and built by

          <a href="http://www.liamjaydesigns.com">
            <img src="http://www.gravatar.com/avatar/0cdf08ded232b88e5d532e3f0d995abe?s=32" alt="Liam">
            <span class="author">Liam Jay</span>
          </a>

          and

          <a href="http://stevelacey.net">
            <img src="http://www.gravatar.com/avatar/d31e3ba459fef7d0d5994291c3ef8b69?s=32" alt="Steve">
            <span class="author">Steve Lacey</span>
          </a>
        </address>

        <small class="fine-print">
          &copy; {{ site.time | date: '%Y' }}. All rights reserved unless stated. Designed and build with copious amounts of coffee and biscuits.
        </small>
        <small class="fine-print">
          All images and content copyright {{ site.name }} unless otherwise stated.
          Set in Freight Sans Pro and Open Sans.
        </small>
      </div>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>
